# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# YOLO outputs
runs/

# Model weights
*.pt

# Images (optional)
*.png
*.jpg
*.jpeg

# VSCode
.vscode/

# Environment files
.env

# ESP32 local secrets
esp32_traffic_light/config.h

# Runtime logs
controller_*.log
